<h1>Hello World</h1>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete, :class => 'btn btn-primary text-center block') %>   
  </li>
  <table  cellpadding="200px", cellspacing="90px">
    <tr>
      <td>Hello World</td>
    </tr>
    <tr>
      <td>Hello Me</td>
    </tr>
    <tr>
      <td>Hello You</td>
    </tr>
    
  </table>
</div>
<% else %>
  <li>
    <%= link_to('Click here to sign in', new_user_session_path,:class => 'btn btn-primary') %>   
  </li>
  <li>
    <%= link_to('Click here to sign up', signup_path,:class => 'btn btn-primary') %>
  </li>
<% end %>